//****************
// VARIABLES
//***************


$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;
$color-button-hover: #fff;
$color-error: #e4757a;


$breakpoint: "(min-width: 768px)";